* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul, ol, menu {
    list-style: none;
}

body {
    width: 100%;
}

/* DEBUG */


.debug .main-container {
    border: 2px solid black;
}

.debug .webcam-container {
    border: 2px solid red;
}

.debug .webcam {
    border: 2px solid violet;
}

.debug .toolbar-container {
    border: 2px solid green;
    margin-top: 20px;
}

.debug .row {
    border: 2px solid orange;
}

.debug .col-2,
.debug .col-2-t {
    border: 2px solid blue;
}

.debug .tool-container {
    border: 2px solid lightblue;
}

.debug .tool-row {
    border: 2px solid yellow;
}



/* Prima sezione */

.main-container {
    padding: 30px;
    position: relative;
    background-color: black;
}

.webcam-container {
    max-height: 100vh;
    padding: 30px;
    margin-bottom: 20px;
}

.webcam {
    display: inline-block;
    width: calc((100% - 30px) / 7);
    height: 120px;   
    position: relative;
}

.webcam-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.webcam-name {
    font-size: 12px;
    padding: 5px 8px;
    color: white;
    background-color: #68737f;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Speaker view */

.speaker-view,
.speaker-view-1 {
    font-size: 12px;
    padding: 5px 8px;
    color: white;
    background-color: #68737f;
    opacity: 0.7;
    border-radius: 25px;
    position: fixed;
    top: 0;
    right: 0;
}

.speaker-view {
    margin-right: 30px;
}

/* Toolbar */

.toolbar-container {
    max-height: 100vh;
    overflow: hidden;
    padding: 10px;
    background-color: #222222;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    flex-basis: calc((100% * 2) / 12 );
}

.col-2:nth-of-type(2) {
    flex-grow: 1;
}

.first {
    margin-right: 20px;
}


.tool-container {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 12px;
    padding-right: 10px;
    font-size: 20px;
}

.tool-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}

.col-2-t {
    padding: 10px;
    flex-basis: calc((100% * 6) / 12 );
    min-height: 50px;
    position: relative;
    color: white;
    font-size: 20px;
}

.arrow {
    font-size: 14px;
    color: white;
    position: absolute;
    line-height: 50px;
    top: 0;
    right: 0;
}

.mute {
    font-size: 14px;
    color: white;
    font-weight: 500;
    display: inline-block;
}

.tools {
    position: relative;
    flex-shrink: 0;
}

.container-center-tools {
    text-align: center;
    margin-top: -24px;
}

.center-tools {
    display: inline-block;
    padding-right: 10px;
    min-height: 50px;
    color: white;
    font-size: 20px;
    margin-top: 25px;
}

.arrow-center-tool {
    display: inline-block;
    color: white;
    font-size: 14px;
    min-height: 50px;
    margin-top: 10px;
}

.screen {
    color: #4bc800;
}

.meeting {
    font-size: 18px;
    text-align: center;
    color: red;
    background-color: #4a4a4a;
    padding: 30px;
    position: absolute;
    top: 0;
    right: 0;
}